@media screen and (min-width: 32rem) {
  header {
    background-color: #f5ee9e;
    color: black;
  }

  
  .gridplace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #menu {
    display: none;
  }

  .navigation {
    display: flex;
  }

  nav a:hover {
    background-color: white;
    color: #ab3428;
  }
}
