
html {
  margin: 0;
}
header {
  background-color: #f5ee9e;
  width: 100%;
  padding: 1rem;
}

h1 {
  text-align: center;
  padding: 4px;
}

.navigation {
  display: none;
}

.navigation {
  background-color: #f5ee9e;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

nav a:hover {
  background-color: white;
  color: #ab3428;
}

#hometitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1400px;
  margin: 2rem auto 0 auto;
}

img {
  width: 300px;
  height: 250px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  place-items: center;
}

section {
  width: 400px;
  align-items: center;
  text-align: center;
  border: 1px solid #f5ee9e;
  background-color: #aeaeae;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

section h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #f5ee9e;
  color: #000;
}

#menu::before {
  content: "≡";
}

#menu.show::before {
  content: "X";
}

.show {
  display: block;
}

footer {
  background-color: #f5ee9e;
}

footer p {
  text-align: center;
}
